body {
    display: flex;
    flex: 0 1 1024px;
    justify-content: center;
    font-family: sans-serif;
}

main {
    max-width: 1280px;
}

aside {
    padding: var( --settings--padding);
}

code {
    padding: var( --settings--padding);
    display: block;
}

p{
    color: #333;
}

h1 {
    letter-spacing: 5px;
    font-weight: 100;
    color: var(--main-color-brand);
}