.btn {
    --btn--text-color: #fff;
    --btn--bkg-color: var(--glo--mainColor);
    --btn--padding: 0.75em 1.5em;
    --btn--min-width: 10ch;
    --btn--min-height: 44px;
    --btn--font-family: 300 14px Arial;
    --btn--border: 1px solid var(--btn--bkg-color);

    --btn--border-radius: unset;
    --btn__hover--opacity: 0.7;
    --btn--min-heigh: 0;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    line-height: 1.1;

    cursor: pointer;
    
    background-color: var(--btn--bkg-color, var(--glo--mainColor));
    color: var(--btn--text-color, black);
    border: var(--btn--border, 1px solid transparent);
    border-radius: var(--btn--border-radius);

    font: var(--btn--font-family, inherit);
    
    padding: var(--btn--padding, 0);
    
    min-width: var(--btn--min-width, 0);
    min-height: var(--btn--min-heigh, 0);

    &:focus {
        outline: 5px solid var(--btn__focus-color);
        outline-offset: 5px;
    }

    /* Windows hight contrast reset */
    @media screen and (-ms-high-contrast: active) {
        border: 2px solid currentcolor;
    }
}

.btn__primary {
    &:focus{
        --btn__focus-color: --btn--bkg-color;
    }
    
    &:hover {
        opacity: var(--btn__hover--opacity);
    }
}

.btn__secondary {
    --btn--bkg-color: transparent;
    --btn--text-color: var(--glo--secColor);
    --btn--border: 1px solid currentcolor;
    
    --btn--padding: 0.75em 1.5em;
    --btn--min-width: 10ch;
    --btn--min-height: 44px;
    --btn--font-family: 300 14px Arial;
    
    --btn__hover--opacity: 0.7;
    
    &:hover,
    &:focus {
        background-color: var(--btn--text-color);
        color: white;
    }
}

.btn__close {
    --btn--bkg-color: transparent;
    --btn--text-color: red;
    --btn__hover--text-color: white;
    
    --btn--padding: 0;
    --btn--min-width: 2ch;
    --btn--min-height: 0;
    --btn--font-family: 300 1.5em Arial;
    
    --btn__hover--opacity: 0.7;
    
    &:hover,
    &:focus {
        background-color: var(--btn--text-color);
        color: var(--btn__hover--text-color);
    }
}
