.component {
    --loc--component--boxShadow: var(--glo--boxShadow);
    --loc--component--backgroundColor: var(--glo--color--lighgrey);
    --loc--component__block--backgroundColor: var(--glo--codeColor); 
    --loc--component__block--color: white; 


    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "explanation block"
        "widget widget";
    
    background-color: var(--loc-component__primary--backgroundColor);
    box-shadow: var(--loc--component--boxShadow);

    &__explanation {
        grid-row: explanation;
        display: block;
        padding: var( --settings--padding);
        & > * {
            width: 100%;
        }  
    } 

    &__block {
        grid-row: block;
        background-color: var(--loc--component__block--backgroundColor);
        color: var(--loc--component__block--color);
    }

    &__widget {
        grid-row: widget;
        grid-column-start: -3;
        grid-column-end: -1;
        padding: var( --settings--padding);
        background-color: var(--loc--component__block--backgroundColor);
    }

    &__code-container {
        position: relative;
    }
    
    &__button {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    &__code {
        white-space: inherit;
    }
}
